@inject IConfiguration _config

@{
    ViewData["Title"] = "User Agreement";
}
<h1>@ViewData["Title"]</h1>

<p>
    <label>This Agreement ("Agreement") is entered into between the developer (referred to as "Developer") and users ("Users") for the use of the @_config["Prompts:Title"] developed by the Developer. This Agreement sets forth the terms and conditions governing the use of the @_config["Prompts:Title"].</label>
    <br />
    <br />
    <label>
        <b>Acknowledgment and Acceptance of Terms</b>
        <br />
        By accessing and using the @_config["Prompts:Title"], Users agrees to be bound by the terms and conditions set forth in this Agreement. If Users does not agree to these terms, they should not use the @_config["Prompts:Title"]. Users who are under the age of 18 must obtain permission from their legal guardian in order to complete the signing action and use this service.
    </label>
    <br />
    <br />
    <label>
        <b>Acknowledgment and Assumption of Risk</b>
        <br />
        Users acknowledge that the @_config["Prompts:Title"] is a software application developed by Developer and is not a licensed medical professional. Users understand and agree that they are using the @_config["Prompts:Title"] at their own risk. Users acknowledge the limitations and potential risks associated with using an AI-based services.
    </label>
    <br />
    <br />
    <label>
        <b>Waiver of Liability</b>
        <br />
        User acknowledges and agrees that the @_config["Prompts:Title"] is an artificial intelligence program developed by the Developer for informational and educational purposes only. User expressly understands and agrees that the Developer shall not be liable for any direct, indirect, incidental, consequential, or exemplary damages arising out of or in connection with the use or performance of the @_config["Prompts:Title"]. Developer shall not be held responsible for any errors, inaccuracies, or omissions in the information provided by the @_config["Prompts:Title"]. Users acknowledge that when Users use the @_config["Prompts:Title"] to provide services to any third party, the corresponding rights, obligations, and responsibilities are borne by Users. The @_config["Prompts:Title"] is not responsible for any losses caused thereby.
    </label>
    <br />
    <br />
    <label>
        <b>Waiver of Indemnity</b>
        <br />
        Users agrees to indemnify, defend, and hold harmless the Developer from and against any and all claims, liabilities, damages, losses, costs, expenses, or fees (including reasonable attorneys' fees) arising out of or in connection with Users's use of the @_config["Prompts:Title"].
    </label>
    <br />
    <br />
    <label>
        <b>Promise Not to Sue</b>
        <br />
        Users agrees not to bring any legal action, including a lawsuit or arbitration, against Developer for any claims, liabilities, or demands arising out of or in connection with the use of the @_config["Prompts:Title"].
    </label>
    <br />
    <br />
    <label>
        <b>Assumption of Risk Agreement</b>
        <br />
        Users acknowledge and assume the risks associated with using the @_config["Prompts:Title"], including but not limited to the potential inaccuracies in information or advice provided by the AI. The @_config["Prompts:Title"] is not evaluated, cleared and approved by FDA. Users understands that the @_config["Prompts:Title"] is not a substitute for professional medical advice, diagnosis, or treatment. Users agree to consult with a qualified healthcare professional for any medical concerns.
    </label>
    <br />
    <br />
    <label>
        <b>Privacy Agreement</b>
        <br />
        Users understand and agree that any protected health information (PHI) should not be provided to the @_config["Prompts:Title"]. Users should be aware that no online service is completely secure, and the User uses the @_config["Prompts:Title"] at their own risk. Users are solely responsible for the confidentiality and security of any information they choose to disclose during the use of the @_config["Prompts:Title"].
    </label>
    <br />
    <br />

    <label>
        <b>No Real-World Connection</b>
        <br />
        Users understand and agree that any entity names, including but not limited to person's name, location name, and organization name, provided by the @_config["Prompts:Title"] are fictional and bear no connection to real-world entities, even if they share similar or same names.
    </label>
    <br />
    <br />

    <label>
        <b>Compliance with Local Laws</b>
        <br />
        Users are responsible for ensuring their compliance with local laws and regulations regarding the use of the @_config["Prompts:Title"]. The Developer shall not be held liable for any legal consequences resulting from a User's failure to comply with applicable laws.
    </label>
    <br />
    <br />

    @*                <label><b>Governing Law</b>
    <br />
    This Agreement shall be governed by and construed in accordance with the laws of Washington State in U.S..
    </label>
    <br />
    <br />*@

    <label>
        <b>Severability</b>
        <br />
        If any provision of this Agreement is found to be invalid or unenforceable, the remaining provisions shall continue to be valid and enforceable.
    </label>
    <br />
    <br />

    <label>
        <b>Modification of Services</b>
        <br />
        Unless otherwise expressly provided, any changes to the @_config["Prompts:Title"] and the addition of new features, new products, and new services are unconditionally subject to this agreement.
    </label>
    <br />
    <br />

    <label>
        <b>Modification of Agreement</b>
        <br />
        The Developer reserves the right to modify this Agreement without notification to Users. Users must accept the modified Agreement before continuing to use the @_config["Prompts:Title"].
    </label>
    <br />
    <br />

</p>
